.footer {
  margin-top: 250px;
  background-color: #2d2123;
  color: #fff;
  &__content {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
  }
  &__logo {
    width: 180px;
    height: 180px;
    object-fit: cover;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__link {
    color: #fff;
    font-size: 16px;
    @include hoverText();
  }
  &__action{
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 30px;
  }
  &__info {
    font-size: 24px;
    font-weight: 500;
  }
  &__phone {
    font-size: 32px;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }
  &__social{
    display: flex;
    align-self: flex-end;
    gap: 15px;
    font-size: 34px;
    color: #898989;
    cursor: pointer;
  }
  &__download{
    display: flex;
    align-items: flex-end;
    gap: 5px;
    img{
        width: 110px;
        height: 40px;
    }
  }
  &__copyright{
    margin-top: 50px;
  }
  .copyright__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    a{
        &:hover{
            text-decoration: underline;
        }
    }
  }
}


@media (max-width: 1190px) {
  .footer {
    &__content {
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &__action{
      align-items: center;
      text-align: center;
    }
    &__social{
      align-self: center;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    .copyright__content{
        flex-direction: column;
        gap: 20px;
    }
  }
}
