.values{
    margin-top: 90px;
    &__heading{
        font-size: 1.75rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        margin-top: 60px;
    }
    &__card{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: calc(33.33% - 13.33px);
        h3{
            font-size: 1.25rem;
            font-weight: 400;
        }
        p{
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
            color: #898989;
            text-wrap: balance;
        }
    }
}